<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <provider
            android:authorities="com.google.android.apps.docs.storage.legacy"
            android:exported="false"/>
    </queries>

    <application
        android:name="com.flammky.musicplayer.MusicPlayerApp"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_blu_dark"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_blu_dark_round"
        android:theme="@style/Theme.App.SplashScreen">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="com.flammky.musicplayer.AppInitializer"
                android:value="androidx.startup"/>
        </provider>

        <service
            android:name=".domain.musiclib.service.MusicLibraryService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="androidx.media3.session.MediaLibraryService" />
            </intent-filter>
        </service>

        <!-- Other orientation will be supported in the future -->
        <activity
            android:name="com.flammky.musicplayer.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.SplashScreen"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.flammky.musicplayer.external.receiver.ReceiverActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.App.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.APP_MUSIC"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
        </activity>

    </application>

</manifest>